html {
	scrollbar-gutter: stable;
}
body {
	background-color: #181818;
	color: #C0C0C0;
	font-family: Roboto, sans-serif;
	/*font-family: Arial, Helvetica, sans-serif;*/
}
body a {
	color: #84C1FF;
	text-decoration:none;
	white-space:nowrap;
}
body a:hover {
	color: #f1f1f1;
	text-decoration:none;
}
body a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAACXRFWHRDb21tZW50AACJKo0GAAAASElEQVR4nGP4//8/AzZ85syZ/8gYQwBNcQKKQhwmwhQl4FSIrAjmDAyF6IpgGEXhqVOnFLApwlAIU4zue6wKsQUT6QoJYZBCABxrNhBirnqBAAAAAElFTkSuQmCC);
  margin: 0px 3px 0px 5px;
}
.pageTitleImage {
	position: fixed;
	left: 0;
	z-index: -3;
	width: 100%;
	background-color: #030303;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color: #404040;
}
.pageTitle {
	margin: 0 auto;
	position: relative;
	padding-top: 100px;
	padding-bottom: 120px;
	text-align: center;
	display: block;
    font-size: 2em;
    font-weight: bold;
	text-wrap: nowrap;
}

.spacer {
	height: 60px;
}
.content {
	margin: auto;
	padding: 8px;
	/*width: fit-content;*/
	width: 95%;
	border-radius: 3px;
	background-color: #181818EE;
}

/* -------------------- TOOL TIPS -------------------- */


.tooltip {
	display: none;
	border: 1px solid #C0C0C0;
	padding: 5px;
	border-radius:5px;
	background-color:#141F29;
	font-size:small;
	cursor: pointer;
}

/* -------------------- SCROLL TO TOP BUTTON -------------------- */

#toTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  top: 0px; 
  left: 15px; 
  z-index: 100; 
  cursor: pointer; /* Add a mouse pointer on hover */
  text-align: center;
  background-color: #000020;
  padding: 4px;
  border: 3px solid;
  border-radius: 0px 0px 26px 26px;
  overflow: hidden;
  /*font-weight: bold;
  font-size: large;*/
}

#toTopButton:hover {
  background-color: #555;
}

.toTopFooter{
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	width: fit-content;
}

/* --------------------  -------------------- */

/*
td {
  border: 1px dotted #999;
}
*/

.seriesCard {
	position: relative;
	z-index: 0;
	margin: auto;
	border-style: solid;
	border-width: 2px;
	border-radius: 15px;
	padding: 1px;
	width: 500px;
	overflow: hidden;
	min-height:120px;
	background-color: #181818EE;
	line-height: 1.1;
	margin: 10px;
	text-align: center;
}
.seriesCardBG{
	position: absolute;
	z-index:-1;
	left: 0;
	top: 0;
	height: 100%;
	width: auto;
	overflow:hidden;
	object-fit:contain;
	mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.8) 40%, rgba(0,0,0,0));
}
.seriesCardTitle {
	display: inline-block;
	height: 120px;
	vertical-align: middle;
}
.seriesCardTitle tr {
	height: 120px;
	vertical-align: middle;
}
.seriesCardTitle img{
	width: 40%;
	vertical-align: middle;
}
.comingSoonFlag{
	position: absolute;
	z-index:-1;
	right: 0;
	top: 0;
	height: 100%;
	width: auto;
	overflow:hidden;
	object-fit:contain;
	mask-image: linear-gradient(to left, rgba(0,0,0,1),  rgba(0,0,0,0));
}

.introParagraph {
	margin-top: 30px;
}

.finalVerdict {
	text-align: center;
	font-size: x-large;
}

.understanding-ratings {
	border-collapse: collapse;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.understanding-ratings td {
	 border-bottom: 1px dotted #DDD;
	 padding: 5px;
}

.understanding-ratings th {
	 border-top: 1px dotted #DDD;
	 border-bottom: 1px dotted #DDD;
	 background-color: #303030;
}

/* -------------------- TIMELINE TABLE -------------------- */

.timelineTable{
	border: 3px double #C0C0C0;
	background-color: #181818EE;
	border-collapse: collapse;
	font-size: 12px;
	text-align: center;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
}

.timelineTable th {
	 border-top: 1px dotted #DDD;
	 border-bottom: 1px dotted #DDD;
	 background-color: #303030;
	 font-size: 16px;
}

.timelineTable td {
	 border-bottom: 1px dotted #DDD;
	 padding: 3px;
}

.timelineTable .seriesBox {
	background-color: #272A2C;
	border: 1px solid #C0C0C0;
}

.timelineTable .filmBox {
	background-color: #242437;
	border: 1px solid #C0C0C0;
}

.timelineTable .activeBox {
	color: yellow;
	border: 2px solid yellow;
}

.timelineTable .majorEventBox {
	background-color: #642800;
}

 /* Customize the label (the container) */
.checkContainer {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 16px;
  font-size: 14px;
  margin-top: 3px;
  margin-bottom: 3px;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  height: 18px;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 14px;
  width: 14px;
  border: 1px solid #ccc;
  /*background-color: #ccc;*/
}

/* On mouse-over, add a grey background color */
.checkContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkContainer input:checked ~ .checkmark {
  background-color: #84C1FF;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkContainer input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the checkmark/indicator */
.checkContainer .checkmark:after {
  left: 4px;
  top: 1px;
  width: 4px;
  height: 7px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} 