body {
	background-color: #181818;
	color: #C0C0C0;
	font-family: Arial Narrow, Helvetica, sans-serif;
}
body a {
	color: #84C1FF;
	text-decoration:none;
}
body a:hover {
	color: #f1f1f1;
	text-decoration:none;
}
body a[target="_blank"]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAACXRFWHRDb21tZW50AACJKo0GAAAASElEQVR4nGP4//8/AzZ85syZ/8gYQwBNcQKKQhwmwhQl4FSIrAjmDAyF6IpgGEXhqVOnFLApwlAIU4zue6wKsQUT6QoJYZBCABxrNhBirnqBAAAAAElFTkSuQmCC);
  margin: 0 3px 0 5px;
}
/* -------------------- TOOL TIPS -------------------- */


.tooltip {
	display: none;
	border: 3px solid;
	padding: 5px;
	border-radius:5px;
	background-color:#141F29;
	font-size:x-small;
}