/* ---------------------------- */

.filterrow {
	width:100%;
}

th {
	cursor: pointer;
}

#filterSideBar {
	position: fixed;
	left: 3px;
	top: 240px;
	width: 300px;
	height: fit-content;
}

input[type=textbox] {
	background-color: #333;
	color: white;
	border: 1px solid gray;
	border-radius: 3px;
}

input[type=button] {
	background-color: #00000000;
	color: #C0C0C0;
	border: 1px solid #C0C0C0;
	cursor: pointer;
}
input[type=button]:hover {
	background-color: #2196F3;
	color: white;
}
#filterTotalbox {
	width: 80px;
	text-align: center;
	border: 1px solid #ccc;
	padding: 3px;
	background-color: #303030;
	font-size: small;
	/*position: fixed;
	top: 300px;*/
}

.filterCategory {
	padding: 8px;
	border:1px solid #FFFFFF;
	border-radius:5px;
	width:max-content;
	text-align: left;
	position: absolute;
	background-color:black;
	z-index: 10;
	display: none;
}

.filterAndOr {
	font-size: 14px;
	display: inline;
}

.dropdownArrow {
	cursor: pointer;
	user-select: none;
	font-size: 15px;
	margin-left: 3px;
	border: 1px solid;
	border-radius: 2px;
}

.dropdownArrow:hover {
	background-color: #2196F3;
	color: white;
}

.icon {
	display: inline-block;
	width: 30px;
	text-align: center;
	font-weight: bold;
}

#tableContainer{
	margin-left: auto;
	margin-right: auto;
}

#episodeTable{
	border: 1px;
	margin-left: auto;
	margin-right: auto;
	background-color: #181818EE;
	border-collapse: collapse;
	width: 980px;
}

#episodeTable th {
	 border-top: 1px dotted #DDD;
	 border-bottom: 1px dotted #DDD;
	 background-color: #303030;
}

.sortarrows {
	color: #555;
	font-weight: bold;
}

#episodeTable td {
	 border-bottom: 1px dotted #DDD;
	 padding: 3px;
}

.list_episodeRating {
	font-weight:bold;
	text-align:center;
}

.list_episodeTags {
	font-weight: bold;
}

.NotablyBad {
	color: #FF6666;
}